*
!.gitignore

# scripts

!scripts
!scripts/**
# ignore secrets and logs
scripts/.*
scripts/logs.txt
# include secrets template
!scripts/.*.template

# services

!services
!services/**
# ignore sercrets and docker volumes
services/**/*-data
services/**/*.env
