# http://docs.paperless-ngx.com/configuration/ for all available options
PAPERLESS_URL=
PAPERLESS_SECRET_KEY=
PAPERLESS_TIME_ZONE=
PAPERLESS_OCR_LANGUAGE=
PAPERLESS_OCR_LANGUAGES=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
